* {
  margin: 0px;
  padding: 0px;
  resize:auto;
}
img {
  height:74px;
  position: absolute;
  top:0px;
  left: 0px;
  z-index: -2;
}
header {
  border: 5px solid gold;
  text-align:center;
  padding: 10px 0px 0px 0px ;
  
}
a {
  color: gold;
}

ul.nav > li {
  display:inline;
  border-right: 1px solid white;
  margin-right:20px;
  padding-right: 30px;

}
ul.nav{
  background-color:black;
  padding:10px; 
}
ul.nav > li:last-child {
  border-right: 0px; 
}
#search-column > ul > li:first-child {
  border-bottom: 5px solid;
  margin-right:800px;
  background: none;
  font-size: 50px;
  background-size:20px 20px;
  padding:20px 0px;
  font-weight: bold;
  
}

#search-column > ul > li {
  border-bottom: 5px solid;
  margin-right:800px;
  background:url("arrow.png") no-repeat center right;
  background-size:20px 20px;
  padding:20px 0px;
  font-weight: bold;
  
}

#results {
  position:absolute;
  top:120px;
  right:470px;
}

button {
    margin: 150px;
    font-weight:bold;
    color: black;
    font-size: 100%;
    background-color:gold;
    border: 3px solid;
    border-color:black;
    border-radius: 10px;
 
    height: 80px;
    width: 300px;
}

p {
  font-weight: bold;
  font-size: 50px;
}


