*
{
  margin: 0px;
  padding: 0px;
}
img {
  height:105px;
  position: absolute;
  top:0px;
  left: 0px;
}
header {
  border: 5px solid;
  text-align:center;
  padding: 10px;
  
}
a {
  color: gold;
}

ul.nav > li {
  display:inline;
  border-right: 1px solid;
  margin-right:20px;
  padding-right: 20px;
}
li:last-child {
  border-right: 0px;
}
